<h1>Show Destination</h1>

<div>
    <div>
      <p>Port of Call:</p>
      <%= @destination.name.capitalize %>
    </div>
    <div>
      <p>Description:</p>
      <%= @destination.description %>
    </div>
</div>
